<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CFA101G5_Erica_082321</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>ForumActypeServlet</servlet-name>
    <servlet-class>com.forum.controller.ForumActypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumActypeServlet</servlet-name>
    <url-pattern>/back-end/forum/forum.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForumArticleServlet</servlet-name>
    <servlet-class>com.forum.controller.ForumArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumArticleServlet</servlet-name>
    <url-pattern>/back-end/forum/forum.ac</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BLOBREADER</servlet-name>
    <servlet-class>com.forum.controller.BLOBREADER</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BLOBREADER</servlet-name>
    <url-pattern>/back-end/forum/forum.rd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BLOBREADERforREPLY</servlet-name>
    <servlet-class>com.forum.controller.BLOBREADERforREPLY</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BLOBREADERforREPLY</servlet-name>
    <url-pattern>/back-end/forum/forumreply.rd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForumArticleFeServlet</servlet-name>
    <servlet-class>com.forum.controller.ForumArticleFeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumArticleFeServlet</servlet-name>
    <url-pattern>/front-end/forum/forumfe.ac</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadFeServlet</servlet-name>
    <servlet-class>com.forum.controller.UploadFeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFeServlet</servlet-name>
    <url-pattern>/front-end/forum/forumfe.up</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReplyFeServlet</servlet-name>
    <servlet-class>com.forum.controller.ReplyFeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyFeServlet</servlet-name>
    <url-pattern>/front-end/forum/forumfe.re</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.mem.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/front-end/mem/mem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminLoginServlet</servlet-name>
    <servlet-class>com.admin.controller.adminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLoginServlet</servlet-name>
    <url-pattern>/back-end/admin/adminLogin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReservationServlet</servlet-name>
    <servlet-class>com.reservation.controller.ReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationServlet</servlet-name>
    <url-pattern>/reservation/reservation.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindByPageServlet</servlet-name>
    <servlet-class>com.page.controller.FindByPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindByPageServlet</servlet-name>
    <url-pattern>/reservation/findByPage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReservationFavServlet</servlet-name>
    <servlet-class>com.reservationfav.controller.ReservationFavServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationFavServlet</servlet-name>
    <url-pattern>/reservation/fav.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StoreRatingServlet</servlet-name>
    <servlet-class>com.storerating.controller.StoreRatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreRatingServlet</servlet-name>
    <url-pattern>/reservation/rating.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StoreClosingDateServlet</servlet-name>
    <servlet-class>com.storeclosingdate.controller.StoreClosingDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreClosingDateServlet</servlet-name>
    <url-pattern>/reservation/storeClosingDate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StoreEventServlet</servlet-name>
    <servlet-class>com.storeEvent.controller.StoreEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreEventServlet</servlet-name>
    <url-pattern>/storeEvent/storeEvent.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPic</servlet-name>
    <servlet-class>com.storeEvent.controller.GetPic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPic</servlet-name>
    <url-pattern>/storeEvent/getpic.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPic2</servlet-name>
    <servlet-class>com.shopEvent.controller.GetPic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPic2</servlet-name>
    <url-pattern>/shopEvent/getpic.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPic3</servlet-name>
    <servlet-class>com.news.controller.GetPic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPic3</servlet-name>
    <url-pattern>/news/getpic.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShopEventServlet</servlet-name>
    <servlet-class>com.shopEvent.controller.ShopEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopEventServlet</servlet-name>
    <url-pattern>/shopEvent/shopEvent.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>com.news.controller.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/news/news.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AnnouncementServlet</servlet-name>
    <servlet-class>com.news.controller.AnnouncementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnouncementServlet</servlet-name>
    <url-pattern>/announcement/announcement.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPic4</servlet-name>
    <servlet-class>com.news.controller.GetPic2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPic4</servlet-name>
    <url-pattern>/announcement/getpic.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GroupServlet</servlet-name>
    <servlet-class>com.group.controller.GroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupServlet</servlet-name>
    <url-pattern>/front-end/group/group.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Group_collectionServlet</servlet-name>
    <servlet-class>com.group_collection.controller.Group_collectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Group_collectionServlet</servlet-name>
    <url-pattern>/front-end/group_collection/group_collection.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ParticipantsServlet</servlet-name>
    <servlet-class>com.participants.controller.ParticipantsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParticipantsServlet</servlet-name>
    <url-pattern>/front-end/participants/participants.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>setCharacterEncoding</filter-name>
    <filter-class>com.Filter.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>setCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>AdminLoginFilter</filter-name>
    <filter-class>com.Filter.AdminLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/back-end/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>BcakEndFuncAdminFilter</filter-name>
    <filter-class>com.Filter.BcakEndFuncAdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BcakEndFuncAdminFilter</filter-name>
    <url-pattern>/back-end/admin/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>BcakEndFuncAdminFilter</filter-name>
    <url-pattern>/back-end/index-admin.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FrontEndWebAdminFilter</filter-name>
    <filter-class>com.Filter.FrontEndWebAdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FrontEndWebAdminFilter</filter-name>
    <url-pattern>/back-end/announcement/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FrontEndWebAdminFilter</filter-name>
    <url-pattern>/back-end/news/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FrontEndWebAdminFilter</filter-name>
    <url-pattern>/back-end/shopEvent/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FrontEndWebAdminFilter</filter-name>
    <url-pattern>/back-end/forum/addActype.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FrontEndWebAdminFilter</filter-name>
    <url-pattern>/back-end/forum/clickTitleShowArticle.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FrontEndWebAdminFilter</filter-name>
    <url-pattern>/back-end/forum/clickTitleShowArticleFromRp.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FrontEndWebAdminFilter</filter-name>
    <url-pattern>/back-end/forum/listAllActype.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FrontEndWebAdminFilter</filter-name>
    <url-pattern>/back-end/forum/listArticlesOneType.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FrontEndWebAdminFilter</filter-name>
    <url-pattern>/back-end/forum/listOneActype.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FrontEndWebAdminFilter</filter-name>
    <url-pattern>/back-end/forum/listOneArticleState.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FrontEndWebAdminFilter</filter-name>
    <url-pattern>/back-end/forum/select_actype_page.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FrontEndWebAdminFilter</filter-name>
    <url-pattern>/back-end/forum/update_actype_input.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FrontEndWebAdminFilter</filter-name>
    <url-pattern>/back-end/forum/updateAcState.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ReportAdminFilter</filter-name>
    <filter-class>com.Filter.ReportAdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ReportAdminFilter</filter-name>
    <url-pattern>/back-end/report/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ReportAdminFilter</filter-name>
    <url-pattern>/back-end/forum/articleReport.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ReportAdminFilter</filter-name>
    <url-pattern>/back-end/forum/listOneUpdatedReport.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ReportAdminFilter</filter-name>
    <url-pattern>/back-end/forum/updateReportInput.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FrontEndMemAdminFilter</filter-name>
    <filter-class>com.Filter.ShopAdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FrontEndMemAdminFilter</filter-name>
    <url-pattern>/back-end/mem/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FrontEndMemAdminFilter</filter-name>
    <url-pattern>/back-end/store/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ShopAdminFilter</filter-name>
    <filter-class>com.Filter.ShopAdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ShopAdminFilter</filter-name>
    <url-pattern>/back-end/product/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CustomerServiceAdminFilter</filter-name>
    <filter-class>com.Filter.CustomerServiceAdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CustomerServiceAdminFilter</filter-name>
    <url-pattern>/customerservice/NameServlet</url-pattern>
  </filter-mapping>
</web-app>